<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Marshmallow fingerprint permission -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <!-- Samsung fingerprint permission, only required if you include the Spass module -->
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewFirstView" />
        <activity android:name=".OldFirstView" />
        <activity android:name=".RegisterCheck" />
        <activity android:name=".Setting" />
        <activity android:name=".finger" />
        <activity android:name=".QRcode" />
        <activity
            android:name=".ClockView"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".SetPatternActivity" />
        <activity android:name=".ConfirmPatternActivity"></activity>
    </application>

</manifest>